@font-face {
    font-family: NeueHaas;
    src: url('../fonts/NeueHaasGrotDisp-Roman.woff2');
}

body{
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    font-family: "NeueHaas";
    overflow-y: hidden;
}
.editor{
    width:50vw;
}
.app-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 63px);
    padding: 8px;
}
.output-canvas{
    background-color:black;
    width: 100%;
}
.frame-section{
    width:  50vw;
    transition: 0.05s;
    overflow: hidden !important;
}
.pframe{
    width: 100%;
    outline: none;
    border: 0px; 
    height: 90vh;
    padding: 0px;
    overflow: hidden !important;
}
.header-bar{
    height: 55px;
    width: 100%;
    margin:0px;
    position: relative;
    top:0px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 10%) 0px 6px 20px;
    background-color: #131313;
    font-family: 'NeueHaas';
    color: white;

}
.hb-text{
    line-height: 25px;
    font-size: 1.5rem;
    margin-left: 20px;
}
iframe{
    padding: 0px;
    overflow: hidden !important;
}
.gallery-container{
    width: calc(100vw - 30px);
    height: auto;
    display: flex;
    top:55px;
    position: absolute;
    padding:15px;
    flex-wrap: wrap;
}
.gallery-entry{
    width: 200px;
    height: 200px;
    background-color: #333;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    color:#fff;
    text-decoration: none !important;
    transition: 0.2s;
    z-index: 1;
}

/* .gallery-entry:hover{
    background-color:rgb(87, 87, 87);
} */
.plus-icon{
    width: 200px;
    height: 200px;
    margin: 0px;
    line-height:200px;
    text-align: center;
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
}
.header-bar a{
    color:#fff;
    text-decoration: none;
}
.overlay-modal{
    width: 100vw;
    height: calc(100vh - 55px);
    z-index: 998;
    margin: 0;
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.name-prompt{
    width: 500px;
    height: 350px;
    background-color: #131313;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    padding: 15px;
    color:#fff;
    z-index: 999;
    justify-content: center;
    flex-direction: column;
}
.name-prompt input{
    height: 20%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    border:0px;
    border-bottom: 1px solid #fff;
    outline:none;
    font-size: 2rem;
    color:#fff;
}
.button-action{
    width: 100px;
    height: 30px;
    margin-right: 20px;
    justify-self: flex-end;
    margin-top:15px;
    background-color: #3951d8;
    border: 0px;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    transition: 0.2s;
}
.name-prompt button:hover{
    background-color: #435ef8;
    
}
a{
    text-decoration: none;
    color:#fff;
}
a:hover{
    text-decoration: underline;
}
.close-overlay{
    position: relative;
    top:-75px;
    left:97%;
    color:#fff;
    height: auto;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
.menu-toggle{
    align-self: flex-start;
    margin:0px;
    margin-left:180px;
    justify-self: end;
    height: fit-content;
    cursor: pointer;
}
.sketchOptions{
    z-index: 999;
    height: 50px;
}
.sketchOptions div{
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.sketchOptions div::before{
    height: 0px;
    content: '';
}
.sketchOptions div::after{
    content: '';
    height: 50px;
}
.sketchOptions :nth-child(2){
    background-color: #f84361;
}
.sketchOptions :nth-child(1){
    background-color: #437cf8;
}
.gallery-entry h3{
    height: 50px;
}
.options-pane{
    height: 50px;
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.panel-option{
    height: 33px !important;
    width: 135px;
    padding: 1px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.green{
    background-color: rgb(44, 223, 163);
}
.red{
    background-color: rgb(231, 80, 54);
}